{% extends "master.html.twig" %}

{% block title %}User dlete{% endblock %}

{% block content %}

<h7>You may <a href="/register">register</a>, go to <a href="/">home page</a>, <a href="/login">login</a> again or <a href="/logout">log out</a></h7>

<h1>user was deleted successfully</h1>
<a href="/">Go to home</a>

{% endblock %}
