{% extends "master.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}

<h7>You may <a href="/register">Register</a> or <a href="/login">Login</a> or <a href="/logout">Log out</a></h7>

<br><br>
{% if userList %}
    <table border="1">
        <tr>
            <th>Name</th>
            <th>email</th>
            <th>Operations</th>
        </tr>
            {% for u in userList %}
            <tr>
                <td>{{u.name}}</td>
                <td>{{u.email}}</td>
                <td><a href='/delete/{{u.ID}}'>Delete user</a></td>
            </tr>
            {% endfor %}
    </table>
    {% else %}
        <p>There are no user yet</p>   
{% endif %}

{% endblock %}
