{% extends "master.html.twig" %}

{% block title %}All Ads{% endblock %}

{% block content %}

<h1>Login</h1>
<form method="post">
    Email: <input type="text" name="email" value="{{v.email}}"><br>
    Password: <input type="password" name="pass"><br>
    <input type="submit" value="Login">
</form>

{% endblock %}
