{% extends "master.html.twig" %}

{% block title %}User login{% endblock %}

{% block content %}

<h7>You may <a href="/register">Register</a></h7>

{% if errorList %}
    <ul>
        {% for error in errorList %}
            <li>{{error}}</li>
        {% endfor %}
    </ul>
{% endif %}

<h1>Login</h1>
<form method="post">
    Email: <input type="text" name="email" value="{{v.email}}"><br><br>
    Password: <input type="password" name="pass"><br><br>
    <input type="submit" value="Login">
</form>

{% endblock %}
