{% extends "master.html.twig" %}

{% block title %}Passwiord reset{% endblock %}

{% block content %}
    <h1>Password reset - email sent</h1>
    <p>Email with password reset code has been sent.
    Please give it a few minutes to arrive.</p>
    <p><a href="/">Click here</a> to continue</p>
    
    
{% endblock %}
