body {
    background-color: #ffffcc;
}
#centerContent {
    padding: 0;
    margin: 0 auto;
}
#listPane{
    border: darkgray 1px solid;
    display: inline-table;
}
#viewAddEditPane {
    border: darkgray 1px solid;
    display: inline-table;
}
