{% extends "master.html.twig" %}

{% block title %}User login{% endblock %}

{% block content %}

<h7>You may go to <a href="/">home page</a> or <a href="/logout">log out</a></h7>

<h3>You have been logined successfuly</h3>

{% endblock %}
