{% extends "master.html.twig" %}

{% block title %}User logout{% endblock %}

{% block content %}

<h7>You have been logged out. You may <a href="/login">Login</a>again or <a href="/">Go to home page</a></h7>

{% endblock %}
