{% extends "master.html.twig" %}

{% block title %}All Ads{% endblock %}

{% block content %}

<h3><a href="index.php/postad">Post Ad</a></h3>

<table border='1'>
{% for ad in adList %}
    <tr><td> {{ ad.msg }} </td><td> {{ad.price}} </td><td> {{ad.contactEmail}} </td><td><a href="/postad/{{ad.ID}}">Edit Ad</a></td></tr>
{% else %}
    <tr><td colspan='2'>No ads have been found</td><td><a href="/postad">Post Ad</a></td></tr>
{% endfor %}
</table>

{% endblock %}
